.section {
  padding: 72px 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-inverse-alpha-30);
}

.sectionInner {
  margin: 0 auto;
}

.featureImage {
  max-width: 60%;
  max-height: 128px;
  margin: 0 auto;
}

.featureHeading {
  font-size: var(--ifm-h3-font-size);
  padding-top: 1rem;
}

.hero {
  background-color: #2b3137;
  padding: 24px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  display: flex; 
  flex-wrap: wrap-reverse;
}

.heroLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.heroLogo {
  align-self: flex-end;
  animation-duration: 2s;
  animation-name: jackInTheBox;
  width: 20vw;
  max-width: 450px;
  min-width: 300px;
}

.heroProjectTitle {
  color: #fff;
  font-size: 80px;
  margin: 0;
}

.heroProjectTagline {
  color: #fff;
  font-size: 36px;
  margin: 0;
}

.heroProjectKeywords {
  color: var(--ifm-color-primary);
}

.heroProjectKeywordsAlt {
  color: var(--ifm-color-primary-alt);
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.indexCtas {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.indexCtasGetStartedButton {
  border: 1px solid var(--ifm-color-primary);
  display: inline-block;
  line-height: 1.2em;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
  border-radius: 8px;
  border-width: 2px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 14px 28px;
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  border: none;
  margin-left: 24px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .heroInner {
    padding: 0;
  }

  .heroProjectTagline {
    font-size: 30px;
  }

  .heroLogo {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .indexCtas {
    flex-direction: column;
    justify-content: center;
  }

  .indexCtasGitHubButtonWrapper {
    display: flex;
    padding: 10px;
  }

}